body {
    background: #f4f4f4;
    font-family: Times New Roman;
    color: #4c4c4c;
}

.well-default {
    background: transparent;
    margin-top: 10%;
    border: 0;
    box-shadow: none;
    text-align: center;
}

.btn-unlock {
    font-size: 1.5em;
    width: 170px;
}

.timer {
    font-size: 4em;
}

.coupon-well {
    padding: 10px;
    display: inline-flex;
    background: transparent;
    border: 1px dotted #a7a7a7;
}

.fb-like-btn {
  text-align: left;
  margin-left: 184px;
  margin-top: 25px;
  border-top: 1px solid #d4d4d4;
  padding-top: 10px;
  margin-right: 170px;
}

.hidden {
    display: none;
}
